* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 2.5fr 6fr;
    grid-template-rows: 50px 60px 1fr 50px;
    grid-template-areas: 
    "a a"
    "b b"
    "c d"
    "e e"
    ;
}

header {
    grid-area: a;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

nav {
    grid-area: b;
    display: flex;
    border: 1px solid white;
}

nav ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    background: transparent;
    border: 2px solid white;
    display: flex;
}

nav ul li a {
    color: white;
    width: 70px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

nav ul li a:hover {
    transition: 0.8s;
    filter: brightness(80%);
}

.left-aside {
    grid-area: c;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.left-aside details {
    width: 300px;
    height: auto;
    background: whitesmoke;
}

.ins1 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

main {
    grid-area: d;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

footer {
    grid-area: e;
    border: 1px solid white;
}

.tab,th,td {
    border: 1px solid black;
    border-collapse: collapse;
    background: gold;
    text-align: center;
}

.tab th {
    background: rgb(242, 255, 61);
    padding: 1rem;
}

.tab td {
    background: honeydew;
}
