*{
    margin:0;
    padding:0;
}

.cont{
    width:100%;
    height: 100vh;
    
}
.one{
    width:100%;
    height: 30vh;
   
    display: flex;
    flex-wrap: wrap;
    
}

.one1{
    width:35%;
    background: lightblue;
}
.one2{
    width:35%;
    background: lightblue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.one3{
    width:30%;
    background: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.img{
    width:50px;
    height: 50px;
}
.two{
    width:100%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
}
.two1{
    background-color: orange;
    width:70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.two2{
    background-color: cornflowerblue;
    width:30%;
    display: flex;
    flex-direction: column;
    
}



.a1{
    height: 20vh;
    text-align: center;
    justify-content: center;

}

.a2{
    height: 20vh;
    text-align: center;
    justify-content: center;
}

.a3{
    height: 20vh;
    text-align: center;
    justify-content: center;
}

table, th, td{
    border: 2px solid blue;
    border-collapse: collapse;
    background: lightblue;
}





